@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		position: relative;
		box-sizing: border-box;
	}

	html {
		--accent: hsl(1, 59%, 50%);
		--column: 70rem;
		--side: 1rem;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	body {
		@apply flex flex-col h-screen m-0 text-white;
		background-size: 100vw 100vh;
		background-image: linear-gradient(180deg, #14181c 0, #14181c 250px, #2c3440 251px);
	}
}

@layer components {
}

@layer utilities {
	.text-spaced {
		@apply tracking-[0.075em] uppercase;
	}

	.column {
		@apply max-w-5xl mx-auto px-4;
	}

	/* TOOLTIP */
	.tooltip::before {
		@apply font-medium text-tiny whitespace-nowrap bg-slate-600 text-slate-200 px-[6px] py-[3px] rounded-[3px] absolute -top-[18px] transform -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none;
		content: attr(data-text);
	}
	.tooltip::after {
		@apply absolute transform left-1/2 -translate-x-1/2 -top-3 border-[10px] border-slate-600 pointer-events-none;
		border-color: theme('colors.slate.600') transparent transparent transparent;
		content: '';
	}
	.tooltip::before,
	.tooltip::after {
		@apply transition-opacity opacity-0 duration-300 z-10;
	}
	.tooltip:hover::before,
	.tooltip:hover::after,
	.tooltip:focus::before,
	.tooltip:focus::after {
		@apply opacity-100;
	}
}
